<div class="container-fluid">
    <div style="text-align: right; padding-bottom: 20px;">
        <a class="btn btn-success" href="/cms/sunday-schools/{{data.id}}">
            <i class="fas fa-arrow-circle-left"></i> Back
        </a>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <legend> {{legend }}</legend>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    {{#if messages.msg_info}}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-check"></i> Success!</h5>
                        {{messages.msg_info}}
                    </div>
                    {{/if}}
                    {{#if messages.msg_error}}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                        {{messages.msg_error}}
                    </div>
                    {{/if}}
                    <table id="table_general1" class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th style="width: 35%">Name</th>
                                <th style="width: 20%">Age</th>
                                <th style="width: 20%">Gender</th>
                                <th style="width: 25%">Thumbnail</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each list}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{age}}</td>
                                <td>{{gender}}</td>
                                <td>
                                    <img src="/photos/private/akte_anak/{{certificate}}" alt="{{name}}" width="120"
                                        height="100">
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->