<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <legend>{{ legend }}</legend>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    {{#if messages.msg_info}}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-check"></i> Success!</h5>
                        {{messages.msg_info}}
                    </div>
                    {{/if}}
                    {{#if messages.msg_error}}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                        {{messages.msg_error}}
                    </div>
                    {{/if}}
                    <form action="/cms/commission/add-commission" method="post" class="mb-3">
                        <div class="form-group">
                            <label for="category-title">Name</label>
                            <input type="text" class="form-control w-25" name="name" placeholder="Generasi Wanita">
                        </div>
                        <div>
                            <label for="role" class="form-label mr-2">Child of Commission</label>
                            <select class="form-select" aria-label="Default select" name="commission">
                                <option value='None'> None</option>
                                {{#each commissions}}
                                <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div>
                            <button id="create-btn" type="submit" class="my-auto btn btn-primary mr-3 mb-3"><i
                                    class="fas fa-check mr-1"></i>Create</button>
                            <a class="btn btn-success" href="/cms/commission/commission-list">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
</div>
<!-- /.container-fluid -->

<script>

</script>