<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <legend>Add Admin Commission</legend>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    {{#if messages.msg_info}}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-check"></i> Success!</h5>
                        {{messages.msg_info}}
                    </div>
                    {{/if}}
                    {{#if messages.msg_error}}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                        {{messages.msg_error}}
                    </div>
                    {{/if}}
                    <form action="/cms/add-admin" method="post" class="mb-3">
                        <div class="d-flex">
                            <div class="card w-50">
                                <div class="card-header">
                                    User Selected
                                </div>
                                <div class="card-body">
                                    <input id="member" type="text" name="user" hidden>
                                    <div id="selected"></div>
                                </div>
                            </div>
                            <div class="my-auto">
                                <div class="ml-5 mb-4">
                                    <div>
                                        <label for="role" class="form-label mr-2">Role</label>
                                        <select class="form-select" aria-label="Default select" name="role">
                                            <option selected disabled>Please choose the role</option>
                                            {{#each roles}}
                                            <option value='{{id}}'> {{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div>
                                        <label for="role" class="form-label mr-2">Commission</label>
                                        <select class="form-select" aria-label="Default select" name="department">
                                            {{#each departments}}
                                            <option value="{{id}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <button id="save-btn" type="submit" class="btn btn-primary ml-5 mb-3"><i
                                        class="fas fa-check pr-1"></i>Save</button>
                                <a class="btn btn-success mb-3" href="/cms/cms-admin">
                                    <i class="fas fa-times pr-1"></i> Cancel
                                </a>
                            </div>
                        </div>
                    </form>

                    <table id="table-user" class="table table-bordered table-striped w-100 text-center">
                        <thead>
                            <tr>
                                <th style="width: 30%">FullName</th>
                                <th style="width: 25%">Phone</th>
                                <th style="width: 30%">Email</th>
                                <th style="width: 15%">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<script>
    let selected, registered = [];

    function getRegisteredMember() {
        $.ajax({
            url: `/cms/commission/registered?commission={{{session.permission.commission_name}}}`,
            method: 'GET'
        })
            .then((data) => {
                console.log(data)
                selected = []
                registered = data
                $('#table-user').DataTable().clear().draw()
            })
    }

    $(document).ready(function () {
        getRegisteredMember();

        let table = $('#table-user').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": `/cms/list`,
                "type": "GET"
            },
            "columns": [
                { "title": 'Fullname', "name": 'full_name' },
                { "title": 'Phone', "name": 'phone_number' },
                { "title": 'Email', "name": 'email' },
                {
                    "sortable": false,
                    "targets": -1,
                    "data": null,
                    "render": function (data, type, row) {
                        let has = '';
                        for (let j = 0; j < registered.length; j++) {
                            if (registered[j].user_id == data[3]) {
                                has = 'disabled'
                            }
                        }
                        if (has) {
                            return `
                                <button class="btn btn-outline-secondary ${has}" type="button"><i class="fas fa-plus mr-2"></i>Add</button>
                            `
                        } else {
                            return `
                                <button class="btn btn-outline-secondary" type="button" id="add-btn"><i class="fas fa-plus mr-2"></i>Add</button>
                            `
                        }
                    }
                }
            ]
        })

        $('#table-user tbody').on('click', '#add-btn', function () {
            var data = table.row($(this).parents('tr')).data();
            selected = data[3];
            $('#selected').html(`
                <p>${data[0]}</p>
            `)
        });

        $('#save-btn').click(function(){
            $("#member").val(`${selected}`);
        })
    })

</script>