<div class="container-fluid">
    <div style="text-align: right; padding-bottom: 20px;">
        <a class="btn btn-success" href="/cms/{{section}}/participant?id={{bpn_id}}">
            <i class="fas fa-arrow-circle-left"></i> Back
        </a>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <legend>Detail Participant</legend>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    {{#if messages.msg_info}}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-check"></i> Success!</h5>
                        {{messages.msg_info}}
                    </div>
                    {{/if}}
                    {{#if messages.msg_error}}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                        {{messages.msg_error}}
                    </div>
                    {{/if}}
                    <div class="text-center">
                        <div class="row mb-3">
                            <div class="col">
                                <h4>Mempelai Laki Laki</h4>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <h4>Full Name</h4>
                                <p>{{data.man.full_name}}</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <h5>Tempat Lahir</h5>
                                <p>{{data.man.birth_place}}</p>
                            </div>
                            <div class="col">
                                <h5>Tanggal Lahir</h5>
                                <p>{{data.man.birth_of_date}}</p>
                            </div>
                            <div class="col">
                                <h5>Gender</h5>
                                <p>{{data.man.gender}}</p>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col">
                                <h5>No. Telephone</h5>
                                <p>{{data.man.phone_number}}</p>
                            </div>
                            <div class="col">
                                <h5>Email</h5>
                                <p>{{data.man.email}}</p>
                            </div>
                            <div class="col">
                                <h5>Pekerjaan</h5>
                                <p>{{data.man.occupation}}</p>
                            </div>
                        </div>
                        <h4 class="mb-3">Alamat</h4>
                        <div class="row mb-3">
                            <div class="col">
                                <p>{{data.man.address.address}}</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <h5>Provinsi</h5>
                                <p>{{data.man.address.province}}</p>
                            </div>
                            <div class="col">
                                <h5>Kota</h5>
                                <p>{{data.man.address.city}}</p>
                            </div>
                            <div class="col">
                                <h5>Kecamatan</h5>
                                <p>{{data.man.address.district}}</p>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col">
                                <h5>Kelurahan</h5>
                                <p>{{data.man.address.subdistrict}}</p>
                            </div>
                            <div class="col">
                                <h5>RT/RW</h5>
                                <p>{{data.man.address.area}}</p>
                            </div>
                            <div class="col">
                                <h5>Kode Pos</h5>
                                <p>{{data.man.address.postCode}}</p>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col">
                                <a class="btn btn-secondary btn-sm" target="_blank" href="{{data.man_url}}/akte-lahir/{{data.man.birth_certification_file}}">
                                    <i class="fas fa-pencil-alt pr-1"></i>
                                    Akte Lahir
                                </a>
                                <a class="btn btn-secondary btn-sm" target="_blank" href="{{data.man_url}}/kartu-keluarga/{{data.man.family_certification_file}}">
                                    <i class="fas fa-pencil-alt pr-1"></i>
                                    Akte Keluarga
                                </a>
                                <a class="btn btn-secondary btn-sm" target="_blank" href="{{data.man_url}}/akte-baptis/{{data.man.baptism_certification_file}}">
                                    <i class="fas fa-pencil-alt pr-1"></i>
                                    Akte Baptis
                                </a>
                                <a class="btn btn-secondary btn-sm" target="_blank" href="{{data.man_url}}/ktp/{{data.man.identification_file}}">
                                    <i class="fas fa-pencil-alt pr-1"></i>
                                    KTP
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <div class="row mb-3">
                            <div class="col">
                                <h4>Mempelai Perempuan</h4>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <h4>Full Name</h4>
                                <p>{{data.woman.full_name}}</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <h5>Tempat Lahir</h5>
                                <p>{{data.woman.birth_place}}</p>
                            </div>
                            <div class="col">
                                <h5>Tanggal Lahir</h5>
                                <p>{{data.woman.birth_of_date}}</p>
                            </div>
                            <div class="col">
                                <h5>Gender</h5>
                                <p>{{data.woman.gender}}</p>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col">
                                <h5>No. Telephone</h5>
                                <p>{{data.woman.phone_number}}</p>
                            </div>
                            <div class="col">
                                <h5>Email</h5>
                                <p>{{data.woman.email}}</p>
                            </div>
                            <div class="col">
                                <h5>Pekerjaan</h5>
                                <p>{{data.woman.occupation}}</p>
                            </div>
                        </div>
                        <h4 class="mb-3">Alamat</h4>
                        <div class="row mb-3">
                            <div class="col">
                                <p>{{data.woman.address.address}}</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <h5>Provinsi</h5>
                                <p>{{data.woman.address.province}}</p>
                            </div>
                            <div class="col">
                                <h5>Kota</h5>
                                <p>{{data.woman.address.city}}</p>
                            </div>
                            <div class="col">
                                <h5>Kecamatan</h5>
                                <p>{{data.woman.address.district}}</p>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col">
                                <h5>Kelurahan</h5>
                                <p>{{data.woman.address.subdistrict}}</p>
                            </div>
                            <div class="col">
                                <h5>RT/RW</h5>
                                <p>{{data.woman.address.area}}</p>
                            </div>
                            <div class="col">
                                <h5>Kode Pos</h5>
                                <p>{{data.woman.address.postCode}}</p>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col">
                                <a class="btn btn-secondary btn-sm" target="_blank" href="{{data.woman_url}}/akte-lahir/{{data.woman.birth_certification_file}}">
                                    <i class="fas fa-pencil-alt pr-1"></i>
                                    Akte Lahir
                                </a>
                                <a class="btn btn-secondary btn-sm" target="_blank" href="{{data.woman_url}}/kartu-keluarga/{{data.woman.family_certification_file}}">
                                    <i class="fas fa-pencil-alt pr-1"></i>
                                    Akte Keluarga
                                </a>
                                <a class="btn btn-secondary btn-sm" target="_blank" href="{{data.woman_url}}/akte-baptis/{{data.woman.baptism_certification_file}}">
                                    <i class="fas fa-pencil-alt pr-1"></i>
                                    Akte Baptis
                                </a>
                                <a class="btn btn-secondary btn-sm" target="_blank" href="{{data.woman_url}}/ktp/{{data.woman.identification_file}}">
                                    <i class="fas fa-pencil-alt pr-1"></i>
                                    KTP
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
</div>
<!-- /.container-fluid -->

<script>

</script>