<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex">
                    <legend>Assign Event Need</legend>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    {{#if messages.msg_info}}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-check"></i> Success!</h5>
                        {{messages.msg_info}}
                    </div>
                    {{/if}}
                    {{#if messages.msg_error}}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                        {{messages.msg_error}}
                    </div>
                    {{/if}}
                    <div class="card-body">
                        <div class="card w-50">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b>Event:</b> {{request.event_name}}</li>
                                <li class="list-group-item"><b>Time Start:</b> {{ request.time_start}}</li>
                                <li class="list-group-item"><b>Time End:</b> {{request.time_end}}</li>
                            </ul>
                        </div>
                    </div>
                    <form action="/cms/needs/{{eventId}}/{{needId}}" method="post">
                        <div class="mb-4">
                            <div class="form-check mb-1">
                                <input class="form-check-input" type="checkbox" name="ruangan"
                                    value='{"keys":"required", "value": true}' id="ruangan_required" required>
                                <label class="form-check-label" for="ruangan_required">
                                    Ruangan
                                </label>
                            </div>
                            <div>
                                <div class="form-check mb-2">
                                    <label class="mb-1">Lokasi <span class="text-muted">(Please pay attention on table below before choose location)</span></label>
                                    <div>
                                        <input type="radio" name="ruangan" class="location"
                                            value='{"keys":"location", "value": "MAG"}'>
                                        <label class="form-check-label" for="mag">Mall Artha Gading</label><br>
                                        <input type="radio" name="ruangan" class="location"
                                            value='{"keys":"location", "value": "Kirana"}'>
                                        <label class="form-check-label" for="kirana">Graha Kirana</label><br>
                                    </div>
                                </div>
                                <table class="ml-3 table table-bordered table-striped text-center w-50">
                                    <thead>
                                        <th>Mall Artha Gading</th>
                                        <th>Graha Kirana</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Function Hall Lt.5 (3000 org)</td>
                                            <td>Ruang Meeting Lt.1 (15 org)</td>
                                        </tr>
                                        <tr>
                                            <td>CDC Hall (200 org)</td>
                                            <td>Ruang Meeting Lt.2 (15 org)</td>
                                        </tr>
                                        <tr>
                                            <td>301 (25 org)</td>
                                            <td>Studio TV Lt.3 (10 org)</td>
                                        </tr>
                                        <tr>
                                            <td>314 (20 org)</td>
                                            <td>Function Hall Kirana (50 org)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="form-check">
                                    <div>
                                        <input type="hidden" name="ruangan" id="consumption" class="form-check-input">
                                        <label class="form-check-label"><b>Konsumsi</b></label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="checkbox" name="consumption" value='Snack'>
                                        <label class="form-check-label mr-2">Snack</label>
                                        <input type="checkbox" name="consumption" value='Prasmanan'>
                                        <label class="form-check-label mr-2">Prasmanan</label>
                                        <input type="checkbox" name="consumption" value='Nasi Kotak'>
                                        <label class="form-check-label mr-2">Nasi Kotak</label>
                                        <input type="checkbox" name="consumption" value='Teh'>
                                        <label class="form-check-label mr-2">Teh</label>
                                        <input type="checkbox" name="consumption" value='Kopi'>
                                        <label class="form-check-label mr-2">Kopi</label>
                                        <input type="checkbox" name="consumption" value='Air Mineral'>
                                        <label class="form-check-label mr-2">Air Mineral</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div>
                                        <input type="hidden" name="ruangan" id="unitTable" class="form-check-input">
                                        <label class="form-check-label"><b>Unit Table</b></label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="checkbox" name="table" value='Single'>
                                        <label class="form-check-label mr-2">Single</label>
                                        <input type="checkbox" name="table" value='Letter U'>
                                        <label class="form-check-label mr-2">Letter U</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="row">
                                        <div class="col">
                                            <label>Jumlah Pax</label><br />
                                            <input type="text" id="pax" name="ruangan">
                                        </div>
                                        <div class="col">
                                            <label>Ac dinyalakan</label><br />
                                            <input type="datetime-local" id="aircon">
                                            <input type="text" id="aircond_start" name="ruangan" hidden>
                                        </div>
                                        <div class="col">
                                            <label>Buka Ruangan Pukul</label><br />
                                            <input type="datetime-local" id="openHour">
                                            <input type="text" id="open_date" name="ruangan" hidden>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="musicMultimedia"
                                    value='{"keys":"required", "value": true}'>
                                <label class="form-check-label">
                                    Pemusik dan Multimedia
                                </label>
                            </div>
                            <div class="form-check">
                                <div>
                                    <input type="text" name="musicMultimedia" id="role" hidden>
                                    <label><b>Team</b></label><br />
                                </div>
                                <div>
                                    <input type="checkbox" name="role" value='Workship Leader'>
                                    <label class="form-check-label mr-2">Workship Leader</label>
                                    <input type="checkbox" name="role" value='Singer'>
                                    <label class="form-check-label mr-2">Singer</label>
                                    <input type="checkbox" name="role" value='Keyboardist'>
                                    <label class="form-check-label mr-2">Keyboardist</label>
                                    <input type="checkbox" name="role" value='Guitarist'>
                                    <label class="form-check-label mr-2">Guitarist</label>
                                    <input type="checkbox" name="role" value='Drummer'>
                                    <label class="form-check-label mr-2">Drummer</label>
                                    <input type="checkbox" name="role" value='Bassist'>
                                    <label class="form-check-label mr-2">Bassist</label>
                                    <input type="checkbox" name="role" value='Perkusi'>
                                    <label class="form-check-label mr-2">Perkusi</label> <br />
                                    <input type="checkbox" name="role" value='Orchestra'>
                                    <label class="form-check-label mr-2">Orchestra</label>
                                    <input type="checkbox" name="role" value='Soundman'>
                                    <label class="form-check-label mr-2">Soundman</label>
                                    <input type="checkbox" name="role" value='Lighting'>
                                    <label class="form-check-label mr-2">Lighting</label>
                                    <input type="checkbox" name="role" value='Streaming'>
                                    <label class="form-check-label">Streaming</label>
                                    <input type="checkbox" name="role" value='Multimedia'>
                                    <label class="form-check-label mr-2">Multimedia</label>
                                    <input type="checkbox" name="role" value='Kameramen'>
                                    <label class="form-check-label mr-2">Kameramen</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="designFlyer"
                                    value='{"keys":"required", "value": true}'>
                                <label class="form-check-label">
                                    Design Flyer
                                </label>
                            </div>
                            <div class="form-check">
                                <label><b>Keterangan</b></label><br />
                                <textarea type="text" id="design" name="designFlyer" rows="2"
                                    class="form-control"></textarea>
                                <input type="text" class="link" name="designFlyer" hidden>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="creativeVideo"
                                    value='{"keys":"required", "value": true}'>
                                <label class="form-check-label">
                                    Creative Video
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="creativeVideo" value='{"keys":"shooting", "value": true}'>
                                <label class="form-check-label">Shooting</label><br />
                                <input type="checkbox" name="creativeVideo" value='{"keys":"editing", "value": true}'>
                                <label class="form-check-label">Editing</label><br />
                                <label><b>Keterangan</b></label><br />
                                <textarea type="text" id="creative" name="creativeVideo" rows="2"
                                    class="form-control"></textarea>
                                <input type="text" class="link" name="creativeVideo" hidden>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="it"
                                    value='{"keys":"required", "value": true}'>
                                <label class="form-check-label">
                                    IT
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="it" value='{"keys":"onlineForm", "value": true}'>
                                <label class="form-check-label">Online Form</label><br />
                                <input type="checkbox" name="it" value='{"keys":"whatsAppBlast", "value": true}'>
                                <label class="form-check-label">WhatsApp Blast</label><br />
                                <input type="checkbox" name="it" value='{"keys":"smsBlast", "value": true}'>
                                <label class="form-check-label">SMS Blasting</label><br />
                                <label><b>Keterangan</b></label><br />
                                <textarea type="text" id="it_field" name="it" rows="2" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="security" id="security"
                                    value='{"keys":"required", "value": true}'>
                                <label class="form-check-label">
                                    Security
                                </label>
                                <input type="text" id="security-location" name="security" hidden>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="socialMedia"
                                    value='{"keys":"required", "value": true}'>
                                <label class="form-check-label">
                                    Social Media
                                </label>
                                <input type="text" class="link" name="socialMedia" hidden>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mb-3" id="confirm-btn">Confirm Need</button>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<script>
    $(document).ready(function () {
        let table = [];
        let consumption = [];
        let role = [];

        $("input").click(function () {
            $("input[name='table']").click(function () {
                table = [];
                $.each($("input[name='table']:checked"), function () {
                    table.push($(this).val());
                });
                $('#ruangan_required').attr('checked', 'checked')
            });

            $("input[name='consumption']").click(function () {
                consumption = [];
                $.each($("input[name='consumption']:checked"), function () {
                    consumption.push($(this).val());
                });
                $('#ruangan_required').attr('checked', 'checked')
            });

            $("input[name='role']").click(function () {
                role = [];
                $.each($("input[name='role']:checked"), function () {
                    role.push($(this).val());
                });
            });

            $("input[class='location']").click(function () {
                $("#security").attr('checked', 'checked')
                $("#security-location").val($(this).val());
            });
        })

        $("#confirm-btn").click(function () {
            $("#unitTable").val(`{"keys":"unitTable", "value": "${table}"}`);
            $('#role').val(`{"keys":"team", "value": "${role}"}`);
            $("#consumption").val(`{"keys":"consumption", "value": "${consumption}"}`);
            $("#design").val(`{"keys":"keterangan", "value": "${$("#design").val()}" }`);
            $("#creative").val(`{"keys":"keterangan", "value": "${$("#creative").val()}" }`);
            $("#pax").val(`{"keys":"totalPax", "value": "${$("#pax").val()}" }`);
            $("#aircond_start").val(`{"keys":"airconStart", "value": "${$('#aircon').val()}" }`);
            $("#open_date").val(`{"keys":"openHour", "value": "${$('#openHour').val()}" }`);
            $("#it_field").val(`{"keys":"keterangan", "value": "${$("#it_field").val()}" }`);
        });
    });

</script>